@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap");
/* 
font-family: 'Pacifico', cursive;
font-family: 'Patrick Hand', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --background-color: #F8F3F1;
    --primary-text-color: #940C4D;
    --secondary-text-color: #ff50a4;
    --accent-color: #c3d7ff;
    --accent-color-dark: #7393d3;
    --padding-inline-section: 20px;
}

body {
  font-family: 'Patrick Hand', cursive;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

/* utility classes */
.container {
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 600;
}
/* flex-items */
.flex {
  display: flex;
  align-items: center;
}
/* nav bar hover and button */
.hover-link {
  color: var(--primary-text-color);
}
.hover-link:hover {
  color: var(--accent-color);
  transition-property: 0.2s ease-out;
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 500;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
}
.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 500;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
  background-color: var(--accent-color-dark);
  color: white;
}
.main-nav {
  justify-content: space-between;
  margin: 10px 30px 0px 30px;
}

.company-logo img {
  height: 100px;
}
.name-name{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: 100;
}
.nav-links {
  flex-basis: 730px;
  font-size: 1.2rem;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}


/* HEADERRRR */
.header-section{
    background-image: linear-gradient(to right,var(--accent-color-dark) , var(--secondary-text-color));
    min-height: 360px;
    color: #F8F3F1;
    justify-content: space-around;
}

/* QANDA */
.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
    background-color: white;
}
.big-feature-container {
    gap: 30px;
}

.feature-img img {
    height: 350px;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

.question{
    font-size: 40px;
    font-family: 'Pacifico',cursive;
    font-weight: 300;
    color: var(--primary-text-color);
}
.answer {
    font-size: 25px;
    color: var(--primary-text-color);
}

/* FAQ */
/* .faq-heading{
    border-bottom: var(--primary-text-color);
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}

.hr-line{
  width: 90%;
  margin: auto;
  color: var(--primary-text-color);
}
.faq-page {
    color:var(--primary-text-color);
    cursor: pointer;
    padding: 30px 20px;
    width: 90%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 30px;

}
.faq-body{
margin: auto;
   width: 70%; 
   padding: auto;
}


.active,
.faq-page:hover {
    width: 95%;
    font-size: 35px;
}

.faq-body {
    padding: 0 18px;
    background-color: var(--background-color);
    display: none;
    overflow: hidden;
    font-size: 50px;
}

.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: var(--primary-text-color);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
} */