<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="static/checklist.css">
  <title>Mommy & me</title>
</head>
<body>
  <!--NAVBAR-->
  <nav>
    <div class="main-nav flex">
        <div class="logo-name flex" style="flex-direction: row;">
        <div class="logo">
            <a href="#" class="company-logo img"><img src="static/logo.png" alt="mommy-and-me-logo"></a>
        </div>
        <div class="name">
            <h2 class="name-name">Mommy & Me</h2>
        </div>
        </div>
      <div class="nav-links">
      <ul class="flex">
        <li><a href="/"class="hover-link">Home</a></li>
        <li><a href="/aboutus"class="hover-link">About Us</a></li>
        <li><a href="/community"class="hover-link">Community</a></li>
        <li><a href="/resou"class="hover-link">Resources</a></li>
        <li><a href="/logout"class="hover-link secondary-button">Log Out</a></li>
        <li><a href="#"class="hover-link primary-button">Language</a></li>
      </ul>
      </div>
    </div>
  </nav>

  <section class="Patient-Profiles-Section">
    <div class="container">
      <div class="patient-area flex">
        <div class="patient-card flex">
        <h2 class="card-title">Pregnant Women</h2>
        <img src="static/pregnant_women.svg" />
        <a href="/pregnant-test" class="secondary-button button-text">Click here &nbsp;<i class="fa-solid fa-right-long"></i></a>
      </div>
      <div class="patient-card flex">
        <h2 class="card-title">Recently gave birth </h2>
        <img src="static/recent_mother.svg"/>
        <a href="/vaccine-child" class="secondary-button button-text">Click here &nbsp;<i class="fa-solid fa-right-long"></i></a>
      </div>
      <!-- <div class="patient-card flex">
        <h2 class="card-title">Mother of a Toddler</h2>
        <img src="/static/toddler.svg"/>
        <a href="#" class="secondary-button button-text">Click here &nbsp;<i class="fa-solid fa-right-long"></i></a>
      </div> -->
      
      
    </div>
  </div>
</section>


 