<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your dashboard</title>
  <link rel="stylesheet" href="static/emg.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<!--NAVRBAR-->
<nav>
    <div class="main-nav flex">
        <div class="logo-name flex" style="flex-direction: row;">
        <div class="logo">
            <a href="#" class="company-logo img"><img src="static/logo.png" alt="mommy-and-me-logo"></a>
        </div>
        <div class="name">
            <h2 class="name-name">Mommy & me</h2>
        </div>
        </div>
      <div class="nav-links">
      <ul class="flex">
        <li><a href="#"class="hover-link">Home</a></li>
        <li><a href="#"class="hover-link">About Us</a></li>
        <li><a href="#"class="hover-link">Community</a></li>
        <li><a href="#"class="hover-link">Resources</a></li>
        <li><a href="#"class="hover-link secondary-button">Log In</a></li>
        <li><a href="#"class="hover-link primary-button">Sign Up</a></li>
      </ul>
      </div>
    </div>
  </nav>

    
  

  </div>
  <h1 style="display:flex; align-items:center; justify-content:center ;">Emergency: Must know</h1>
  <h2 style="margin:0px 30px 0px 30px; color:#7393d3 ;">The World Health Organization (WHO) recognizes several emergency conditions and situations that can occur during pregnancy and after giving birth</h2>
  <!--PATIENT PROFILE-->
  <section style="margin:0px 30px 0px 30px;"class="Patient-Profiles-Section">
      <div  class="container">
          <div>
            <h2 style="padding: 40px;">During Pregnancy:</h2>
          </div>
          <div class="patient-area flex">
              <div class="patient-card flex">
                <p><b>Severe Preeclampsia and Eclampsia:</b> Preeclampsia is a condition characterized by high blood pressure and organ damage during pregnancy. </p>
                <a href="https://www.youtube.com/watch?v=CRhGx8A7Dqg">
<img src="https://img.youtube.com/vi/CRhGx8A7Dqg/mqdefault.jpg" alt="YouTube Video Thumbnail">
                </a>
               
            </div>
    
        <div class="patient-card flex">
            <p><b>Gestational Diabetes Complications:</b> Complications arising from gestational diabetes, such as uncontrolled high blood sugar levels, can pose risks to both.</p>
            <a href="https://www.youtube.com/watch?v=qOOfDKjQeLE">
<img src="https://img.youtube.com/vi/qOOfDKjQeLE/mqdefault.jpg" alt="YouTube Video Thumbnail">
            </a>
           
        </div>
        <div class="patient-card flex">
            <p><b>Preterm Labor:</b> Preeclampsia is a condition characterized by high blood pressure and organ damage during pregnancy. </p>
            <a href="https://www.youtube.com/watch?v=ct4xIY0UjRY">
<img src="https://img.youtube.com/vi/ct4xIY0UjRY/mqdefault.jpg" alt="YouTube Video Thumbnail">
            </a>
           
        </div>
      
        <div class="patient-card flex">
            <p><b>Antepartum Hemorrhage: </b>This refers to significant bleeding during pregnancy, which can be caused by conditions like placenta previa or placental abruption </p>
            <a href="https://www.youtube.com/watch?v=xnRIF8SDYf8">
<img src="https://img.youtube.com/vi/xnRIF8SDYf8/mqdefault.jpg" alt="YouTube Video Thumbnail">
            </a>
           
        </div>
    </div>
  </div>
  <div class="container">
    <div>
      <h2 style="padding: 40px;">During Labor and Childbirth:</h2>
    </div>
    <div class="patient-area flex">
        <div class="patient-card flex">
          <p><b>Obstructed Labor:</b> This occurs when the baby's head is too large or positioned in a way that prevents it from passing through the birth canal. </p>
          <a href="https://www.youtube.com/watch?v=Kg_xwJ77aSE">
<img src="https://img.youtube.com/vi/Kg_xwJ77aSE/mqdefault.jpg" alt="YouTube Video Thumbnail">
          </a>
         
      </div>
      
  <div class="patient-card flex">
      <p><b>Postpartum Hemorrhage:</b> Excessive bleeding after childbirth is a critical emergency situation that can lead to severe complications or death if not promptly managed.</p>
      <a href="https://www.youtube.com/watch?v=irXbqbOYTHk">
<img src="https://img.youtube.com/vi/irXbqbOYTHk/mqdefault.jpg" alt="YouTube Video Thumbnail">
      </a>
     
</div>
</div>
</div>
<div class="container">
    <div>
      <h2 style="padding: 40px;">After Childbirth (Postpartum Period):</h2>
    </div>
    <div class="patient-area flex">
        <div class="patient-card flex">
          <p><b>Puerperal Sepsis:</b>Infection that occurs after childbirth due to unhygienic conditions or inadequate medical care can lead to sepsis, a life-threatening condition.</p>
          <a href="https://www.youtube.com/watch?v=V002a9nDIgM">
<img src="https://img.youtube.com/vi/V002a9nDIgM/mqdefault.jpg" alt="YouTube Video Thumbnail">
          </a>
         
      </div>
  <div class="patient-card flex">
      <p><b>Postpartum Eclampsia:</b>Eclampsia can also occur in the postpartum period and requires immediate medical attention.</p>
      <a href="https://www.youtube.com/watch?v=7YTB18VU6LI">
<img src="https://img.youtube.com/vi/7YTB18VU6LI/mqdefault.jpg" alt="YouTube Video Thumbnail">
      </a>
     
  </div>
  <div class="patient-card flex">
      <p><b>Peripartum Cardiomyopathy:</b>A condition where the heart weakens during pregnancy or shortly after childbirth, which can lead to heart failure.</p>
      <a href="https://www.youtube.com/watch?v=L7trWoH_yys">
<img src="https://img.youtube.com/vi/L7trWoH_yys/mqdefault.jpg" alt="YouTube Video Thumbnail">
      </a>
     
  </div>

  <div class="patient-card flex">
      <p><b>Thromboembolic Disorders: </b>These include conditions like deep vein thrombosis (DVT) and pulmonary embolism (PE), which can occur due to increased risk factors during pregnancy and the postpartum period.</p>
      <a href="https://www.youtube.com/watch?v=bHeqbNAc6Yw">
<img src="https://img.youtube.com/vi/bHeqbNAc6Yw/mqdefault.jpg" alt="YouTube Video Thumbnail">
      </a>
     
  </div>
</div>
</div>
</section>
<script src="https://kit.fontawesome.com/cb88b54bf5.js" crossorigin="anonymous"></script>
</body>
</html>
