<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="static/pregnant-test.css">
  <title>Mommy & me</title>
</head>
<body>
  <!--NAVBAR-->
  <nav>
    <div class="main-nav flex">
        <div class="logo-name flex" style="flex-direction: row;">
        <div class="logo">
            <a href="#" class="company-logo img"><img src="/static/logo.png" alt="mommy-and-me-logo"></a>
        </div>
        <div class="name">
            <h2 class="name-name">Mommy & me</h2>
        </div>
        </div>
      <div class="nav-links">
      <ul class="flex">
        <li><a href="/"class="hover-link">Home</a></li>
        <li><a href="/aboutus"class="hover-link">About Us</a></li>
        <li><a href="/community"class="hover-link">Community</a></li>
        <li><a href="/resources"class="hover-link">Resources</a></li>
        <li><a href="/logout"class="hover-link secondary-button">Log Out</a></li>
        <li><a href="/map"class="hover-link secondary-button">Clinics Near Me</a></li>
      </ul>
      </div>
    </div>
  </nav>
 
  <header>
    <div class="container flex header-section">
        <h1>Mandatory Tests During Pregnancy</h1>
        <!-- <i class="fa-solid fa-user-doctor header-symbol"></i> -->
    </div>
  </header>
<!--TODO LIST-->
  <div class="wrapper">
    <div class="task-input">

      <input type="text" placeholder="ADD A NEW TASK">
      
    </div>
    <div class="controls">
      <div class="filters">
        <span id="all" class="active">ALL</span>
        <span id="pending">PENDING</span>
        <span id="completed">COMPLETED</span>
      </div>
      <button class="clear-btn">CLEAR ALL</button>
    </div>
    <ul class="task-box">
      <li>Genetic Screening</li>
      <li>First Trimester</li>
      <li>Second Trimester</li>
      <li>Ultrasound</li>
      <li>Amneocentesis</li>
      <li>Chorionic Villus Sampling (CVS)</li>
      <li>Fetal Monitoring</li>
      <li>Glucose Testing</li>
    </ul>
    
  </div>
  <!-- <footer>
    
  </footer> -->

  <script src="static/pregnant-test.js"></script>
  
  
</body>
</html>