<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenatal-Care</title>
    <link rel="stylesheet" href="prenatal.css">
</head>
<body>
    <nav>
    <div class="main-nav flex">
        <div class="logo-name flex" style="flex-direction: row;">
        <div class="logo">
            <a href="#" class="company-logo img"><img src="/static/logo.png" alt="mommy-and-me-logo"></a>
        </div>
        <div class="name">
            <h2 class="name-name">Mommy & me</h2>
        </div>
        </div>
      <div class="nav-links">
      <ul class="flex">
        <li><a href="#"class="hover-link">Home</a></li>
        <li><a href="#"class="hover-link">About Us</a></li>
        <li><a href="#"class="hover-link">Community</a></li>
        <li><a href="#"class="hover-link">Resources</a></li>
        <li><a href="#"class="hover-link secondary-button">Log In</a></li>
        <li><a href="#"class="hover-link primary-button">Sign Up</a></li>
      </ul>
      </div>
    </div>
  </nav>

<header>
    <div class="container header-section flex">
      <div class="header-left">
        <h1 style="font-size: 80px;">Prenatal Care</h1>
      </div>
      <div class="header-right">
        <img src="/static/prenatal.png" alt="pregnant woman">
      </div>
    </div>
  </header>

 <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-img">
        <img src="/static/babbby.png" alt="baby">
      </div>
      <div class="feature-desc flex">
        <!-- <h4>Effortless validation for</h4> -->
        <h3 class="question">What is prenatal care and why is it important?</h3>
        <p class="answer">Prenatal care is medical care you get during pregnancy. At each visit, your health care provider checks on you and your growing baby. Call your provider and go for your first prenatal care checkup as soon as you know you’re pregnant. And go to all your prenatal care checkups, even if you’re feeling fine.
Getting early and regular prenatal care can help you have a healthy pregnancy and a full-term baby. Full term means your baby is born between 39 weeks (1 week before your due date) and 40 weeks, 6 days (1 week after your due date). Being born full term gives your baby the right amount of time he needs in the womb to grow and develop.</p>

      </div>
    </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container" style="flex-direction: row-reverse;">
    <div class="feature-img">
      <img src="/static/doctor.png" alt="">
    </div>
    <div class="feature-desc flex">
      <h3 class="question">Who can you go to for prenatal care?</h3>
      <p class="answer">
        An obstetrician/gynecologist (also called OB/GYN) is a doctor who has education and training to take care of pregnant women and deliver babies. </li>
       A family practice doctor (also called a family physician) is a doctor who can take care of every member of your family. This doctor can take care of you before, during and after pregnancy. </li>
        A certified nurse-midwife (also called CNM) is a nurse with education and training to take care of women of all ages, including pregnant women. </li>
     </p>
    </div>
  </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-img">
        <img src="/static/partner.png" alt="baby">
      </div>
      <div class="feature-desc flex">
        <h3 class="question">How often do you go for prenatal care checkups?</h3>
        <div class="answer">Most pregnant women can follow a schedule like this:<br>

<b>Weeks 4 to 28 of pregnancy: </b>Go for one checkup every 4 weeks (once a month).<br>
<b>Weeks 28 to 36 of pregnancy: </b>Go for one checkup every 2 weeks (twice a month).<br>
<b>Weeks 36 to 41 of pregnancy: </b>Go for one checkup every week (once a week).<br>
If you have complications during pregnancy, your provider may want to see you more often.<br>

Your partner or support person (a friend or someone from your family) is welcome at your prenatal checkups.</p>

      </div>
    </div>
  </section>
    <!-- <main>
        <section class="faq-container">
            <div class="faqq faq-one">
                <h1 class="faq-page">What is prenatal care and why is it important?</h1>
                <div class="faq-body">
                    <p>Prenatal care is medical care you get during pregnancy. At each visit, your health care provider checks on you and your growing baby. Call your provider and go for your first prenatal care checkup as soon as you know you’re pregnant. And go to all your prenatal care checkups, even if you’re feeling fine.
Getting early and regular prenatal care can help you have a healthy pregnancy and a full-term baby. Full term means your baby is born between 39 weeks (1 week before your due date) and 40 weeks, 6 days (1 week after your due date). Being born full term gives your baby the right amount of time he needs in the womb to grow and develop.</p>
                </div>
            </div>
            <hr class="hr-line">
        </section>
    </main> -->

    <script src="prenatal.js"></script>
</body>
</html>